{% extends "_base.html.j2" %}

{% block header %}
  <h1>{% block title %}Error {{ error_code }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <p>{{ error_desc }}</p>
  </div>
{% endblock %}
