{% extends "_base.html.j2" %}

{% block header %}
  <h1>{% block title %}Interpersonal Micropub Blogs{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <p>List of blogs this Interpersonal instance can post to</p>
    <ul>
      {% for blog in blogs %}
        <li>
          <p>
            {{ blog.name }} (type: {{ blog.type }}):
            <a href="{{ blog.uri }}">{{ blog.uri }}</a>
          </p>
        </li>
      {% endfor %}
  </div>
{% endblock %}
