{% extends "_base.html.j2" %}
{% block title %}Authorize{% endblock %}

{% block content %}
  <main>
    <form method="POST" action="{{ url_for('indieauth.grant', blog_name=blog_name) }}">
      <input hidden name="state" type="hidden" value="{{ state }}" />
      <input hidden name="redirect_uri" type="hidden" value="{{ redirect_uri }}" />
      <input hidden name="client_id" type="hidden" value="{{ client_id }}" />
      <input hidden name="code_challenge" type="hidden" value="{{ code_challenge }}" />
      <input hidden name="code_challenge_method" type="hidden" value="{{ code_challenge_method }}" />
      <p>If you allow, the application</p>
      <p><a href="{{ client_id }}">{{ client_id }}</a></p>
      <p>will be given the following permissions:</p>

      {% for scope, desc in scope_info.items() %}
      <div>
        <input
          id="checkbox-scope-{{ scope }}"
          name="scope:{{ scope }}"
          type="checkbox"
          {% if scope in requested_scope_list %}checked{% endif %}
        />
        <label for="checkbox-scope-{{ scope }}"><strong>{{ scope }}</strong> — {{ desc }}</label>
      </div>
      {% endfor %}

      <p>
        You will be redirected to the following address:
        <pre>{{ redirect_uri }}</pre>
      </p>

      {% if code_challenge_method != "S256" %}
        <p>Security warning: the client did not use PKCE S256 for this request.</p>
      {% endif %}

      <p>Clicking "Submit" will take you to {{ url_for('indieauth.grant', blog_name=blog_name) }}</p>

      <button type="submit">Ok</button><br><br>

      <!-- TODO: make this cleaner that a big dumb warning message -->
      <p>
        WARNING: if the submit button appears to do nothing, make sure that the redirect site in <code>{{ redirect_uri }}</code> is added to your CSP.
        (Only the scheme and hostname need to be added, not the path; that is, <code>https://example.com</code> is fine, you don't need to enter <code>https://example.com/some/path</code>. The hostname should be complete or wildcarded in the config, however; if the redirect is to a subdomain like <code>https://x.example.com</code> you will need to use that or a wildcard like <code>https://*.example.com</code>.)
        This is inconsistent in browsers; currently Safari and Chrome need this, but Firefox will work just fine without it (<a href="https://stackoverflow.com/a/71352313/868206">source</a>). Guess which browser I did my initial testing with! 🙃
      </p>
    </form>
  </main>
{% endblock %}
